@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --background-image-mobile: url(pattern-lines.svg), url(pattern-squiggly-line-top.svg), url(pattern-squiggly-line-bottom-mobile-tablet.svg), url(pattern-circle.svg), url(pattern-circle.svg), url(background-mobile.png);
  --background-image-tablet: url(pattern-lines.svg), url(pattern-squiggly-line-top.svg), url(pattern-squiggly-line-bottom-mobile-tablet.svg), url(pattern-circle.svg), url(pattern-circle.svg),url(background-tablet.png);
  --background-image-desktop: url(pattern-lines.svg), url(pattern-squiggly-line-top.svg), url(pattern-squiggly-line-bottom-desktop.svg), url(pattern-circle.svg), url(pattern-circle.svg), url(background-desktop.png);
}

@layer base {
  header {
    @apply mt-0 flex justify-center items-center;
  }

  body {
    @apply bg-mobile md:bg-tablet lg:bg-desktop bg-no-repeat bg-fixed
    bg-[position:center,_right_top_5rem,_left_bottom,_left_20px_top_-20px,_right_-2rem_center,_center]
    md:bg-[position:center,_right_top_5rem,_left_bottom,_left_20px_top_-20px,_right_-2rem_center,_center]
    lg:bg-[position:center,_right_top_5rem,_left_bottom,_left_5rem_top_-5rem,_right_30rem_center,_center]
    bg-[size:cover,_10rem,_25rem,_6rem,_6rem,_cover]
    md:bg-[size:cover,_20rem,_40rem,_10rem,_10rem,_cover]
    lg:bg-[size:cover,_30rem,_50rem,_14rem,_14rem,_cover];
  }

}